include LICENSE
include README.md
include pyproject.toml
include requirements.txt
include requirements-dev.txt

recursive-include marketquery *.py
recursive-include tests *.py
recursive-include docs *.rst
recursive-include docs *.md 
